@{
    ViewData["Title"] = "CarDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section ftco-car-details">
    <div class="container">

        @* Araba Büyük Resim, Marka, Model ve Genel Özellikler *@

        @await Component.InvokeAsync("_CarDetailMainCarFeatureComponentPartial", new { id = ViewBag.carId })

        <div class="row">
            <div class="col-md-12 pills">
                <div class="bd-example bd-example-tabs">

                    @* Özellikler, Açıklama ve Yorum Başlıkları *@
                    @await Component.InvokeAsync("_CarDetailTabPaneComponentPartial")

                    <div class="tab-content" id="pills-tabContent">
                        @* Araba Özellikleri Kısmı *@
                        @await Component.InvokeAsync("_CarDetailCarFeatureByCarIdComponentPartial", new { id = ViewBag.carId })

                        @* Açıklama Kısmı *@
                        @await Component.InvokeAsync("_CarDetailDescriptionComponentPartial", new { id = ViewBag.carId })
                        
                        @* Yorum Kısmı *@
                        @await Component.InvokeAsync("_CarDetailCommentsByCarIdComponentPartial", new { id = ViewBag.carId })
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>