@model GetBlogByIdDto

<div class="col-md-8 ftco-animate">
    <h2 class="mb-3">@Model.title</h2>
    <p>
        @Model.description
    </p>

    @await Component.InvokeAsync("_BlogDetailCloudTagByBlogComponentPartial", new { id = Model.blogId })


    @await Component.InvokeAsync("_BlogDetailsAuthorAboutComponentPartial", new { id = Model.blogId })

    <div class="pt-5 mt-5">
        
        @await Component.InvokeAsync("_CommentListByBlogComponentPartial", new { id = Model.blogId })
        

        @await Html.PartialAsync("~/Views/Blog/AddComment.cshtml", new { id = ViewBag.blogId })
        
    </div>
</div>